[Unit]
Description=Apache Kafka server (kafka_kerberos)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper_kerberos.service

[Service]
Type=simple
User=kafka
Group=sudo
WorkingDirectory=/home/kafka/kafka_kerberos/
ExecStart=/home/kafka/kafka_kerberos/kafka-start.sh
ExecStop=/home/kafka/kafka_kerberos/kafka-stop.sh

[Install]
WantedBy=multi-user.target
Alias=kafka_kerberos
