[Unit]
Description=Apache Zookeeper server (zookeeper_ssl)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=sudo
WorkingDirectory=/home/kafka/kafka_ssl/
ExecStart=/home/kafka/kafka_ssl/zookeeper-start.sh
ExecStop=/home/kafka/kafka_ssl/zookeepe-stop.sh

[Install]
WantedBy=multi-user.target
Alias=zookeeper_ssl
