[Unit]
Description=Apache Zookeeper server (zookeeper_kerberos)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=sudo
WorkingDirectory=/home/kafka/kafka_kerberos/
ExecStart=/home/kafka/kafka_kerberos/zookeeper-start.sh
ExecStop=/home/kafka/kafka_kerberos/zookeeper-stop.sh

[Install]
WantedBy=multi-user.target
Alias=zookeeper_kerberos
